@font-face {
  font-family: 'HeadersFont';
  src: url('../assets/fonts/Commissioner-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'PrimaryFont';
  src: url('../assets/fonts/ClearSans-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'LogoFont';
  src: url('../assets/fonts/Eczar-ExtraBold.ttf') format('truetype');
  font-style: normal;
}
